.images {
  margin-bottom: 1.5em;
}

.shieldImage+.shieldImage {
  margin-top: 1em;
}

.topLogo {
  display: block;
  margin: auto;
  width: 400px;
}

.warning {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
  border-radius: 21px;
}

.warnig img {
  min-width: 250px;
}

.warning p {
  padding: 1rem;
  margin: 0;
}

div.youtubeVideo {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  margin-bottom: 2em;
}

.youtubeVideo iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

@media screen and (min-width: 720px) {
  .info {
    display: flex;
    flex-direction: row;
    max-width: 800px;
    margin: auto;
  }

  .info>div {
    width: 40%;
  }

  .info> :first-child {
    width: 60%;
  }
}