html {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

progress {
  vertical-align: baseline;
}

[hidden],
template {
  display: none;
}

a {
  background-color: inherit;
  -webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
  outline-width: 0;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}

optgroup {
  font-weight: 700;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}

[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

html {
  box-sizing: border-box;
  overflow-y: scroll;
}

* {
  box-sizing: inherit;
}

*:before {
  box-sizing: inherit;
}

*:after {
  box-sizing: inherit;
}

body {
  color: hsla(0, 0%, 0%, 0.8);
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}

img {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}

h1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 0.5rem;
  color: inherit;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 2.25rem;
  line-height: 1.1;
}

h2 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.62671rem;
  line-height: 1.1;
}

h3 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.38316rem;
  line-height: 1.1;
}

h4 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.1;
}

h5 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.85028rem;
  line-height: 1.1;
}

h6 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.78405rem;
  line-height: 1.1;
}

hgroup {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}

ul {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}

ol {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}

dl {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}

dd {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}

p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}

figure {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}

pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 1.45rem;
  font-size: 0.85rem;
  line-height: 1.42;
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  overflow: auto;
  word-wrap: normal;
  padding: 1.45rem;
}

table {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-size: 1rem;
  line-height: 1.45rem;
  border-collapse: collapse;
  width: 100%;
}

fieldset {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}

blockquote {
  margin-left: 1.45rem;
  margin-right: 1.45rem;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}

form {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}

noscript {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}

iframe {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}

hr {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: calc(1.45rem - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}

address {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}

b {
  font-weight: bold;
}

strong {
  font-weight: bold;
}

dt {
  font-weight: bold;
}

th {
  font-weight: bold;
}

li {
  margin-bottom: calc(1.45rem / 2);
}

ol li {
  padding-left: 0;
}

ul li {
  padding-left: 0;
}

li > ol {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}

li > ul {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}

blockquote *:last-child {
  margin-bottom: 0;
}

li *:last-child {
  margin-bottom: 0;
}

p *:last-child {
  margin-bottom: 0;
}

li > p {
  margin-bottom: calc(1.45rem / 2);
}

code {
  font-size: 0.85rem;
  line-height: 1.45rem;
}

kbd {
  font-size: 0.85rem;
  line-height: 1.45rem;
}

samp {
  font-size: 0.85rem;
  line-height: 1.45rem;
}

abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}

acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}

abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}

thead {
  text-align: left;
}

td,
th {
  text-align: left;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
  font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  padding-left: 0.96667rem;
  padding-right: 0.96667rem;
  padding-top: 0.725rem;
  padding-bottom: calc(0.725rem - 1px);
}

th:first-child,
td:first-child {
  padding-left: 0;
}

th:last-child,
td:last-child {
  padding-right: 0;
}

tt,
code {
  background-color: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  font-family: "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono",
    "Liberation Mono", Menlo, Courier, monospace;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

pre code {
  background: none;
  line-height: 1.42;
}

code:before,
code:after,
tt:before,
tt:after {
  letter-spacing: -0.2em;
  content: " ";
}

pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: "";
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}

/* TLA Stles */
.topLogo {
  display: block;
  margin: auto;
  width: 400px;
  filter:drop-shadow(0 0 3px rgba(0,0,0,.5));
}

#top {
  margin-top: 90px;
}

footer {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  margin: 2em auto;
  min-height: 90px;
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
}

footer p {
  margin: 0 0 0.5em;
}

footer > * {
  align-self: center;
  margin-bottom: 1em;
}

.social_icons {
  margin-top: 1em;
}

.social_icons a {
  display: inline-block;
  padding: 7px;
  font-size: 1em;
  width: 2em;
  height: 2em;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  background-color: teal;
  margin: 0 0.5em;
  
}

.social_icons a svg{
  filter:drop-shadow(0 0 3px rgba(0,0,0,.5));
}

.social_icons a:hover {
  opacity: 0.7;
}

.social_icons a * {
  color: white;
}

body,
* {
  padding: 0px;
  margin: 0px;
  color: #515154;
}

div.row {
  padding: 5rem 10px;
}

.hero {
  height: 400px;
}

.placeholder {
  height: 100%;
  width: 100%;
  padding: 0;
  filter: drop-shadow(0 0 3px rgba(0,0,0,.3));
}

.footer .footerLogo {
  background-color: lightgray;
  padding: 0;
}

.footer {
  max-width: 800px;
  margin: 20px auto;
  font-size: 12px;
  line-height: 1.33337;
  font-weight: 400;
  letter-spacing: -0.01em;
  /* padding: 20px; */
  display: grid;
  grid-template-columns: 1fr;
}

.footer > div {
  padding: 1em;
}

.footer > div:nth-child(1) {
  background-color: lightblue;
}

.footer a {
  color: #515154;
  text-decoration: none;
}

.footer ul {
  margin-left: 1rem;
  list-style: none;
  padding: 0;
}

.footer h3 {
  margin-bottom: 0.8em;
}

.footer li {
  color: #515154;
  font-size: 1em;
  margin-bottom: 0.8em;
}

.sectionTitle {
  color: white;
  text-align: center;
  margin: 1em auto 1em;
  font-size: 2em;
  text-transform: uppercase;
  text-shadow: 1px 1px 5px rgb(60, 60, 60);
}

.service_row {
  background-color: #00a19b;
}

div#service {
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;
}

.merch_row {
  background-color: black;
}

div#merch {
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;
}

/* Class for each grid item   .items  */
.items {
  width: 100%;
}

/* .items h1 {
  position: absolute;
  z-index: 10;
  color: white;
  font-size: 1.5em;
  text-transform: uppercase;
  text-align: left;
  margin: 10px;
} */
#service h1 {
  text-shadow: 1px 1px 5px rgb(60, 60, 60);
  color: white;
  margin: 1em auto 0.5em;
}

.items li,
.items ul {
  margin-bottom: unset;
}

.subsectionList {
  margin-top: 1em;
}

.subsectionList,
.subsectionList li {
  color: rgb(228, 228, 228);
  text-align: initial;
}

.subsectionList h1 {
  position: initial;
}

.marketing_row {
  background-color: darkslategrey;
}

div#marketing {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;
}

.decorative_row {
  background-color: gray;
}

div#decorative {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;
}

.signage_row {
  background-color: darkolivegreen;
}

div#signage {
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;
}

.grid_items {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gridImg {
  /* clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%); */
  /* clip-path: polygon(
    50% 0%,
    90% 20%,
    100% 60%,
    75% 100%,
    25% 100%,
    0% 60%,
    10% 20%
  ); */
  /* clip-path: polygon(84% 0, 100% 50%, 84% 100%, 0% 100%, 19% 50%, 0% 0%); */
  border: 3px solid teal;
  border-right: 0;
  border-left: 0;
  overflow: hidden;
}

/* .gridImg > *:first-child {
  transition: 1.5s;
}

.gridImg > *:first-child:hover {
  transform: scale(1.5);
} */

.row img {
  transition: 1.5s !important;
}

.row img:hover {
  transform: scale(1.5);
  /* transition-duration: 1s; */
}

#news {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 2em;
  /* margin-top: 1em; */
}

#newsBanner {
  min-height: 25em;
  /* background-position: bottom !important; */
}

#news img {
  margin: 0;
  border-radius: 1em;
  background-color: white;
}

#news h1 {
  margin-top: 3em;
  margin-bottom: 0;
  text-align: left;
  color: teal;
  text-transform: uppercase;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  padding: 20px 3em;
}

.newsItem {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 10px;
  /* border: 2px dotted teal; */
  border-radius: 1em;
  padding: 5px;
  background-color: white;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}

.newsPhoto {
  align-self: center;
}

.newsCopy {
  align-self: center;
  margin-left: 1em;
}

.newsCopy p {
  margin-bottom: unset;
}

#topTwitterFeed > div {
  height: 800px;
}

@media only screen and (min-width: 720px) {
  #news {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  #topTwitterFeed {
    grid-column: 4/5;
    grid-row: 1/3;
    height: 100%;
  }

  #topTwitterFeed > div {
    height: 100%;
  }

  #newsBanner {
    grid-column: 1/4;
  }

  /* #news > div:nth-child(2) {
    grid-column: 1/3;
  } */
  .newsPhoto {
    /* margin-left: 5px; */
    /* min-height: 200px; */
    align-self: auto;
  }

  .newsCopy {
    align-self: auto;
    /* min-height: 200px; */
  }

  .newsItem {
    grid-template-columns: 1fr;
  }

  .merch_row .gridImg {
    width: 100%;
  }

  .grid_items {
    align-items: unset;
  }

  div#service {
    grid-template-columns: 1fr 1fr;
    width: 100%;
    max-width: initial;
  }

  div#merch {
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    max-width: initial;
  }

  div#marketing {
    grid-template-columns: 1fr 1fr;
  }

  div#decorative {
    grid-template-columns: 1fr 1fr;
  }

  div#signage {
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    max-width: initial;
  }

  .footer {
    grid-template-columns: 1fr 1fr;
  }

  footer {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
